---
---
$azulEscuro : #29aae2;
$azulClaro : #E1E9F6;
$cinzaClaro : #EBEEED;


@import "cfdev";
//@import "compass";

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
body{
  }

.browsehappy {
  margin: 0;
  padding: 0.2em 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.navbar{
  &.navbar-default{
    &.defautl{
      background: #FFF;
      border-bottom-color: $azulClaro;
      .navbar-nav{
        .active{
          a,a:hover,a:focus{
            background: $azulClaro;
            color:$azulEscuro;
          }
        }
      }
      .navbar-brand{
        &:hover{
          color:$azulEscuro;
        }
      }
    }
    &.index{
      background: none;
      border: none;
      .navbar-nav{
        margin-top: 30px;
        a{
          color: #FFF;
        }

        .active{
          display: none;
          a,a:hover,a:focus{
            background: none;
//            border: 1px solid #fff;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
//            font-weight: 700;
          }
        }
      }
      .navbar-brand{
        color: #fff;
        &:hover{
          color:$azulEscuro;
        }
      }
    }
  }

}

#sobre{
  background: #9bc9db; /* Old browsers */
  background: -moz-linear-gradient(left,  #9bc9db 0%, #85c4dd 50%, #29aae2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9bc9db), color-stop(50%,#85c4dd), color-stop(100%,#29aae2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #9bc9db 0%,#85c4dd 50%,#29aae2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #9bc9db 0%,#85c4dd 50%,#29aae2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #9bc9db 0%,#85c4dd 50%,#29aae2 100%); /* IE10+ */
  background: linear-gradient(to right,  #9bc9db 0%,#85c4dd 50%,#29aae2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc9db', endColorstr='#29aae2',GradientType=1 ); /* IE6-9 */

  .container{
    height: 707px;
  }
}

.wrapper{
  margin-top: 50px;

}