
            <ul class="list list-unstyled list-inline">
                <li>
                    <a href="{{site.baseurl}}/">
                    Index
                    </a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/#sobre">
                    Sobre
                    </a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/#trabalhos">
                        Trabalhos
                    </a>
                </li>
            </ul>
