<section id="perfil">
    <h2 class="sr-only">Sobre</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-7 foto">
                <!--<img src="{{base.url}}/img/carlos-fernandes.png" class="img-responsive">-->

            </div>
            <div class="col-xs-5 col-dir">
                <h1>Olá! Sou Carlos. Um Desenvolvedor Web, apaixonado por tecnologia.</h1>
                <p class="lead">Seja bem vindo e fique a vontade para navegar em meu portfolio virtual.</p>
                <a href="#fale-comigo" class="btn btn-default btn-lg" title="Fale comigo!">Se precisar, fale comigo!</ag>
            </div>
        </div>
        <div class="row scroll">
            <div class="col-xs-12 text-center">
                <a href="#sobre">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>