<section id="perfil">
    <h2 class="sr-only">Sobre</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-7 foto visible-md visible-lg">
            </div>
            <div class="col-xs-5 col-dir">
                <h2 class="lead">Olá! Meu nome é Carlos, sou um Desenvolvedor Web focado em PHP, atualmente estou trabalhando em projetos para o CDPV.</h2>
                <p class="lead">Sou paixonado por tecnologia e o meu trabalho é a minha paixão e também é o meu passatempo.</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>