<!--[if lt IE 9]>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js"><\/script>')</script>
<!--<![endif]-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
        {% if sit.google_analytics_id %}
<!-- Google Analytics (http://google.com/analytics) -->
<script>
    (function(c,a,r,l,o,s){c.GoogleAnalyticsObject=l;c[l]||(c[l]=
            function(){(c[l].q=c[l].q||[]).push(arguments)});c[l].l=+new Date;
        o=a.createElement(r);s=a.getElementsByTagName(r)[0];
        o.src='//www.google-analytics.com/analytics.js';
        s.parentNode.insertBefore(o,s)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
{% endif %}