<section id="perfil">
    <h2 class="sr-only">Sobre</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-7">
                Foto
            </div>
            <div class="col-xs-5">
                <h1>Olá! Sou Carlos. Um Desenvolvedor Web, apaixonado por tecnologia.</h1>
                <p class="lead">Seja bem vindo e fique a vontade para navegar em meu portfolio virtual.</p>
                <button class="btn btn-default btn-lg" type="button">Se precisar, fale comigo!</button>
            </div>
        </div>
        <div class="row scroll">
            <div class="col-xs-12 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>