
<section id="trabalhos">


        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <h2 class="text-center"><a href="trabalhos.html" title="Trabalhos realizados">Trabalhos realizados</a></h2>
                    <div class="resumo">
                        {{site.categories.resumo}}
                    </div>


                    <div class="row">
                        {% for trabalhos in site.categories.trabalhos limit 9 %}
                        <div class="col-xs-6 col-md-4">
                            <div class="thumbnail" >
                                <img src="//placehold.it/353x265" alt="{{trabalhos.title}}" class="img-responsive alvo-1">

                                <a href="{{trabalhos.url}}" class="caption scale-caption" title="{{trabalhos.title}}">
                                    <h3>{{trabalhos.title}}</h3>
                                    <p>
                                        {{trabalhos.meta}}
                                    </p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <ul>

                    </ul>
                </div>
            </div>
        </div>


</section>
