---
layout: default
---
        <strong>Trabalhos</strong>
        <nav>
            <ul>
                <li>
                    <a href="{{site.baseurl}}/news.html" {% if page.url contains 'news' %}class = "active" {% endif %}>
                        News
                    </a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/novidades.html" {% if page.url contains 'novidades' %}class = "active" {% endif %}>
                        Novidades
                    </a>
                </li>
            </ul>
        </nav>
        {{content}}